#snake-board{ 
  background-image: url("../images/snakeLogo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  
  } 

  body{
    background-image: url("../images/background.jpg");
  }
  
  .flex-container{
    display: flex;
   justify-content: center;
   
  }
  
  .flex-container > div{
    margin: 10px;
  }
  
  .instructions{
    border: 2px SOLID #20FF00;
    padding: 20px;
    background-color: black;
    color: #20ff00;
    font-family: 'VT323', monospace;
  }
  
  #start-game{
    border: 2px solid #20ff00;
    background-color: black;
    color: #20ff00;
    font-family: 'VT323', monospace;
    font-size: 25px;
  }


   
  a{
    font-size: 24px;
    color: white;
    /* padding: 40px; */
    margin: 40px;
  }
  
  p{
    font-size: 25px;

  }